

.inline{
    padding-left: 0 10px;
}
.min{
    float: right;
    width: 150px;
    position: relative;

}
.new{
    margin-left: 10px;}
.dive{


display: inline;
}

div.one{
    height: 60%;
    box-shadow: 0 4px 2px 5px #d1e2da;
    width: 30%;
    transition: 2px;
    margin: 15px;
    border-radius: 20px;
    max-width: 50%; 
    text-align:  center;
    
    
    
}
.description{

    width: 150px;
}


.now{
    text-align: center;
    text-decoration: underline rgb(255, 115, 0) 6px;
}
span{

    color: yellow;
}
.nive{
    display: flex;
    justify-content: center;
    margin: 7px;  
}

.big{
    height: 20rem;
    box-shadow: 0px 1px 2px 4px #d1e2da;
    width: 26%;
    transition: 0.3px;
    margin: 15px;
    border-radius: 20px;
    max-width: 50%; 
    text-align:  center;
    
}
.smoke{
    height: 20rem;
    box-shadow: 0 1px 2px 4px #d1e2da;
    width: 30%;
    transition: 0.3px;
    margin: 15px;
    border-radius: 20px;
    max-width: 50%; 
    text-align:  center;
    

}
.sasa{
    padding: o 10px;
    display: flex;
    justify-content: center;
    
}
#sisi{
    color: brown;
}
div.mama{
    display: flex;
    justify-content: center;
    margin: 7px;  


}


.mimi{
    float: right;
    width: 150px;
    position: relative;
   
}
.mmi{

    float: right;
    padding: 2rem 0rem;
    width: 150px;

}
.yea{
    background-color: #e1ebe6;
    height: 300px;
}
.hey{

    background-color: #f6b400;
    height: 450px;
}
#tree{

    color: brown ;
}
.mama{

    background-color:#e1ebe6 ;
    height: 400px;
}
