.synopsis{
    padding: 0 2rem;
    margin: 2rem;
    width: 1250px;
    overflow: auto;

}

.inline{
    padding-left: 0 10px;
    background-image: conic-gradient(from 40deg, #F6B400, #fff); 
}
.btn{
    background-color: #f6b400;
    border-radius: .9rem 1rem 0;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    width: 6.9rem;
    color: white;
    height: 3rem;
}
.min{
    float: right;
    width: 150px;
    position: relative;
    bottom: 30px;
    right: 350px;

}
.new{
    display: flex;
    margin-left: 10px;}
.dive{


display: inline;
}

div.one{
    height: 60%;
    box-shadow: 0 4px 2px 5px #d1e2da;
    width: 30%;
    transition: 2px;
    margin: 15px;
    border-radius: 20px;
    text-align:  center;
    
    
    
}
.description{

    width: 150px;
}


.now{
    text-align: center;
    text-decoration: underline rgb(255, 115, 0) 6px;
}
span{

    color: yellow;
}
.nive{
    display: flex;
    justify-content: center;
    margin: 7px;  
}

.big{
    height: 50%;
    box-shadow: 0px 1px 2px 4px #d1e2da;
    width: 26%;
    transition: 0.3px;
    margin: 15px;
    border-radius: 20px;
    

    
}
.smoke{
    height: 69%;
    box-shadow: 0 1px 2px 4px #d1e2da;
    width: 30%;
    transition: 0.3px;
    margin: 15px;
    border-radius: 20px;
    
    
    

}
.sasa{
    padding: o 10px;
    display: flex;
    justify-content: center;
    
}
#sisi{
    color: brown;
}
#mama{
    display: flex;

    background-color:#e1ebe6 ;
    height: 500px;
    align-items: center;
    
}
.mimi{
    float: right;
    width: 300px;
    position: relative;
    bottom: 120px;
    
}
.make{
    width: 50px;
    align-items: center;
    display: flex;
    position: relative;
}

.yea{
    background-color: #f7f7f7;
    height: 400px;
}
.hey{

    background-color: #f6b400;
    height: 450px;
}
#tree{

    color: brown ;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0 40rem;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-flex;
   

}
li{
  
    padding-left: 0 4rem;


}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    
}
li a:hover{
    background-color: #d1e2da;
}


  .container {
    padding: 2px 16px;
    border-radius: 1rem;
  }
#flex{
display: flex;

}
div.center{

text-align: center;
}
.display{

    display: inline;
    
}
.right{

    float: right;
}
.subs{
    background-color: #F6B400;
    height: 1.7rem;
}

input{
    height: 1.7rem;
}
.move{
    float: right;
    padding-left: 500px;
}
.color{
    background-color: #e1ebe6;
    height: 300px;
}
#add{
    float: right; 
    padding-right: 10px;
    
    
}

.align{

    display: flex;
}
.foot{
    position: relative;
    top: -60px;
}
    
.fin{
    position: relative;
    top: -165px;
    float: right;
   padding: 0 0 0 5rem;
}

.icons{
text-align: center;
position: relative;
top: -35px;
}
.padding{

    padding: 25px;
}
.rest{
    float: left;
    margin: 20px 55px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .logo{
      display: flex;
      width: 10px;
      margin: 60px;

   }
   .phone{
       width: 320px;
       float: right;
       height: 300px;
       top: -220px;
      position: relative;
   }
   .store{
  margin: 0 5px;

   }