

.inline{
    padding-left: 0 10px;
}
.min{
    float: right;
    width: 150px;
    position: relative;

}
.new{
    margin-left: 10px;}
.dive{


display: inline;
}

div.one{
    overflow: visible;
    width: 150px;
    border: 30cm;
}


img.description{ 
    width: 150px;
    float: left;


}.now{
    text-align: center;
}
span{

    color: yellow;
}
.nive{
    display: inline-block;


}
#mimi{
    float: right;
    width: 150px;
    position: relative;
   
}
#mmi{

    float: right;
    width: 150px;
    position: absolute;
    
}